#gridContainer {
  display: flex; 
  flex-wrap: wrap;
  margin: auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.btnContainer {
  display: flex; 
  justify-content: center;
}

button {
  margin: 2%;
}

.initialGrid {
  width: 6.25%;
}